**/.git
**/.gitignore
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/dist
**/.next
**/.turbo
**/data
**/coverage
**/*.log
**/.DS_Store
**/.cursor
**/.vercel
**/.idea
**/.vscode
apps/web
zapflow-*-firebase-adminsdk-*.json
**/*firebase-adminsdk*.json
